<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Welcome to {{ title }}!
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<div style="text-align:center">
<div class="container">
  <h2>Details of Wether forcast</h2>
  <button (click)="goBack()" class="back"> Go Back</button>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Wether</th>
        <th>Temparatute</th>
        <th>Pressure</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let det of details">
        <td>{{det.dt_txt | date: 'dd/MM/yyyy'}}</td>
        <td>{{det.weather[0].description}}</td>
        <td>{{det.main.temp}}</td>
        <td>{{det.main.pressure}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>